/*.md
/*.txt
!.gitignore
!LICENSE.txt
!LICENSE
!README.md
!git-checkout-all
git-checkout-all/.git-checkout-all.conf
!vt745
!.github
!.github/*
!example
!example/*
zsh-better-npm-completion
zsh-better-npm-completion/*
zsh-nvm
zsh-nvm/*
__pycache__
__pycache__/*
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg
*.egg-info
*.egg-info/*
*.log
*.pot
*.mo
